# Introduction

London, or as the Romans called it "Londonium"! Home to [over 8.5 million residents](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/populationandhouseholdestimatesenglandandwales/census2021unroundeddata#population-and-household-estimates-england-and-wales-data) who speak over [300 languages](https://web.archive.org/web/20080924084621/http://www.cilt.org.uk/faqs/langspoken.htm). While the City of London is a little over one square mile (hence its nickname "The Square Mile"), Greater London has grown to encompass 32 boroughs spanning a total area of 606 square miles! 

Given the city's roads were originally designed for horse and cart, this area and population growth has required the development of an efficient public transport system! Since the year 2000, this has been through the local government body called **Transport for London**, or *TfL*, which is managed by the London Mayor's office. Their remit covers the London Underground, Overground, Docklands Light Railway (DLR), buses, trams, river services (clipper and [Emirates Airline cable car](https://en.wikipedia.org/wiki/London_cable_car)), roads, and even taxis.

The Mayor of London's office make their data available to the public [here](https://data.london.gov.uk/dataset). In this project, you will work with a slightly modified version of a dataset containing information about public transport journey volume by transport type. 

The data has been loaded into an **AWS Redshift** database called `tfl` with a single table called `journeys`, including the following data:

## tfl.journeys

| Column | Definition | Data type |
|--------|------------|-----------|
| `month`| Month in number format, e.g., `1` equals January | `INTEGER` |
| `year` | Year | `INTEGER` |
| `days` | Number of days in the given month | `INTEGER` |
| `report_date` | Date that the data was reported | `DATE` |
| `journey_type` | Method of transport used | `VARCHAR` |
| `journeys_millions` | Millions of journeys, measured in decimals | `FLOAT` |

You will execute SQL queries to answer three questions, as listed in the instructions.

## Instructions

Write three SQL queries to answer the following questions:

    What are the most popular transport types, measured by the total number of journeys? The output should contain two columns, 1) journey_type and 2) total_journeys_millions, and be sorted by the second column in descending order. Save the query as most_popular_transport_types.

    Which five months and years were the most popular for the Emirates Airline? Return an output containing month, year, and journeys_millions, with the latter rounded to two decimal places and aliased as rounded_journeys_millions. Exclude null values and save the result as emirates_airline_popularity.

    Find the five years with the lowest volume of Underground & DLR journeys, saving as least_popular_years_tube. The results should contain the columns year, journey_type, and total_journeys_millions. 

Three SQL cells have been created for you in the workbook. To access the AWS Redshift database, you will need to select data using the syntax FROM tfl.journeys.

Note: Please also ensure that you do not change the names of the DataFrames that the three query results will be saved as - creating new cells in the workbook will rename the DataFrame (see image below). Make sure that your final solutions use the names provided: most_popular_transport_types, emirates_airline_popularity, and least_popular_years_tube.

In [1]:
most_popular_transport_types = """
SELECT journey_type, sum(journeys_millions) AS total_journeys_millions 
FROM tfl.journeys
GROUP BY 1
ORDER BY 2 DESC;
"""

In [2]:
emirates_airline_popularity = """
SELECT month, year, ROUND(journeys_millions, 2) AS rounded_journeys_millions
FROM tfl.journeys
WHERE journey_type = 'Emirates Airline' 
 AND rounded_journeys_millions IS NOT NULL
ORDER BY 3 DESC
LIMIT 5;
"""

In [3]:
least_popular_years_tube = """
SELECT year, journey_type, sum(journeys_millions) as total_journeys_millions
FROM tfl.journeys
WHERE journey_type = 'Underground & DLR'
GROUP BY 1, 2
ORDER BY 3 
LIMIT 5;
"""